Source: ros-rolling-rqt-common-plugins
Section: misc
Priority: optional
Maintainer: Aaron Blasdel <ablasdel@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-rolling-ament-cmake, ros-rolling-ros-workspace
Homepage: http://ros.org/wiki/rqt_common_plugins
Standards-Version: 3.9.2

Package: ros-rolling-rqt-common-plugins
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-rolling-rqt-action, ros-rolling-rqt-console, ros-rolling-rqt-graph, ros-rolling-rqt-image-view, ros-rolling-rqt-msg, ros-rolling-rqt-plot, ros-rolling-rqt-publisher, ros-rolling-rqt-py-common, ros-rolling-rqt-py-console, ros-rolling-rqt-reconfigure, ros-rolling-rqt-service-caller, ros-rolling-rqt-shell, ros-rolling-rqt-srv, ros-rolling-rqt-top, ros-rolling-rqt-topic, ros-rolling-ros-workspace
Description: rqt_common_plugins metapackage provides ROS backend graphical tools suite that can be used on/off of robot runtime.
 To run any rqt plugins, just type in a single command &quot;rqt&quot;, then select any plugins you want from the GUI that launches afterwards. rqt consists of three following metapackages: rqt - core modules of rqt (ROS GUI) framework. rqt plugin developers barely needs to pay attention to this metapackage. rqt_common_plugins (you're here!) rqt_robot_plugins - rqt plugins that are particularly used with robots during their runtime.
